body {
  /* margin: auto; */
  text-align: center;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
button {
  width: 15%;
  background-color: #414141;
  color: aliceblue;
  padding: 0.5rem 0;
  border-radius: 8px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: larger;
  font-weight: bold;
}
#name {
  font-size: 150px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
}
.container2 {
  margin: 12px 0 20px 0px;
}

#color-code {
  /* border: 2px solid red; */
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-top: 12%;
  display: inline;
  background-color: whitesmoke;
}